@import '../vars/index.styl';

.footer
	display flex
	&__container
		height: fit-content;
		align-items: center;
		flex-flow row wrap !important
	.logo
		margin 20px 0

	.copyrights
		display block
		flex 1 1 320px