@import '../vars/index.styl';

.footer
	display flex
	&__container
		height: fit-content;
		align-items: center;
		flex-wrap wrap
	.logo
		margin 20px 0
	&__menu
		@media(max-width: $MD_break)
			flex: 1 1 100%;
			order 0 !important
			.menu
				flex-flow row wrap
				margin-bottom 24px
				@media(max-width: $XS_break)
					flex-flow column wrap
		ul.menu
			justify-content: flex-end;
			@media(max-width: $MD_break)
				justify-content: flex-start;
			li
				margin-left 0
				line-height 100%

	.copyrights
		display block
		flex 1 1 320px