
*
	outline: 1px solid #FCD
	outline-offset -1px

body
	margin 0

	#app
		overflow-x: hidden;
		font-family: "GraphikLCG", sans-serif;
		font-size: 30px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		background-color #FFF

		.container
			z-index 1
			display: flex
			flex-flow row nowrap
			box-sizing: border-box
			padding-bottom: 0
			padding-top: 0
			@media (min-width 1160px)
				max-width $XL_break
