
*
	//outline: 1px solid #FCD
	outline-offset -1px

body
	margin 0

	#app
		font-family: "GraphikLCG", sans-serif;
		font-size: 30px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		.container
			box-sizing: border-box;

