
body
	margin 0

#app
	font-family: "GraphikLCG", sans-serif;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
.main
	display flex
	flex-direction: column
	outline: 1px solid #FCD
	outline-offset -5px

.router-link-exact-active {
	color: #CF3
}

.container {
	max-width 1200px
}