@import '../../../assets/styles/vars/index.styl';

.menu
	display: flex;
	padding: 0;
	flex 1 1 auto
	align-self center
	list-style none
	li
		margin: 0 20px
		line-height: 24px;
		font-weight: bold;
		display flex
		&:first-child
			margin-left 40px
		&:last-child
			margin-right 0
		@media (max-width $MD_break)
			margin 0 10px !important
		a
			font-size: 16px;
			color: $Black_Text;
			text-decoration none
			transition $transition_hover
			&:hover
				color $Lighter_Text
