@import '../../../assets/styles/vars/index.styl';
.menu
	display: flex;
	padding: 0;
	flex 1 1 auto
	align-self center
	list-style none
	li
		@media (max-width $MD_break)
			margin 0 0 0 20px
		margin: 0 0 0 40px;
		line-height: 24px;
		font-weight: bold;
		display flex

		&:last-child
			margin-right 0
		a
			font-size: 16px;
			color: $Black_Text;
			text-decoration none
			transition $transition_hover
			&:hover
				color $Lighter_Text

.footer__menu
	@media(max-width: $MD_break)
		flex: 1 1 100%;
		order 0 !important
	.menu
		flex-flow row wrap
		margin-bottom 24px
		justify-content: flex-end;
		@media(max-width: $XS_break)
			flex-flow column wrap
		@media(max-width: $MD_break)
			justify-content: flex-start;
		li
			line-height 100%
			&:first-child
				margin-left 0