@import "~@/assets/styles/vars/index.styl";
@import '~vuetify/src/stylus/settings/_variables.styl';
@import '~vuetify/src/stylus/generic/_transitions.styl';

@import 'base/fonts.styl';
@import 'base/normalize.styl';

@import 'base/main.styl';
@import 'base/header.styl';
@import 'base/footer.styl';
