@import '~vuetify/src/stylus/settings/_variables.styl';
@import '~vuetify/src/stylus/generic/_transitions.styl';

@import './vars/index.styl';

@import './base/fonts.css';
@import './base/normalize.css';

@import './base/main.styl';
@import './base/header.styl';
@import './base/footer.styl';
