.button__yellow
	border-color: $yellow
	background-color $yellow
	margin 0
	width 100%
	max-width 240px
	height 48px
	.v-btn__content
		color $button_text
		text-transform: none
		font-weight: bold;
		font-size 16px
