.header
	display flex
	&__container
		height: fit-content;
		align-items: center;
	.logo
		svg
			display block
	ul.menu
		list-style none
		li, a
			font-size: 16px;
			color: #1E1E1E;
			text-decoration none
	.cta
		display block