$yellow = #FFF1A1;

// Colors
$Main_Blue = #4462FC;
$Main_White = #FFF;
$Grey = #ABB8C7;
$Light_Grey = #E6EDF5;
$Lighter_Text = #606774;
$Lighter_Blue = #E6F3FF;
$Blue_Dark = #142266;
$Black_Text = #1E1E1E;
$Fields_Light = #F2F5F9;
$Borders_Grey = #D6DCE3;
$Main_Blue_dark = #2341D6;